@import "../../assets/styles/variable";
.#{$vir-pre}checkbox {
  display: inline-block;
  cursor: pointer;
  .inner {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    direction: ltr;
    background-color: $white-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    border-collapse: initial;
    transition: all .3s ease-in-out;
    &:after {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 8px;
      margin-left: -3px;
      margin-top: -6px;
      border: 2px solid $white-color;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
      transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
      content: " ";
    }
  }
  &.checked {
    .inner {
      border-color: $primary-color;
      background-color: $primary-color;
      &:after {
        display: block;
      }
    }
  }
  &.disabled {
    color: $disable-color;
    cursor: not-allowed;
    .inner {
      border-color: $disable-color;
      background-color: $disable-color;
    }
  }
}
